@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 35px;
    transform: .3s;
}

.navbar a:hover, .navbar a.active {
    color: #00abf0;
}

/* home */

.home {
    height: 100vh;
    background: linear-gradient(-90deg, rgb(26, 26, 83) 65%, white 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background: #fff;
    border: 25px solid rgb(51, 50, 53);
    /* border-radius: 50%; */

}

.home-image img {
    position: relative;
    max-width: 300px;
    bottom: -25px;
    border-radius: 50%;
}

.home-content {
    max-width: 600px;
    color: #fff;
    text-align: right;
}

.home-content h1 {
    font-size: 55px;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 40px;
    color: transparent;
    color: #00abf0;
}



.home-content p {
    font-size: 16px;
    margin-top: 20px;
}